{
  "openapi": "3.0.0",
  "info": {
    "title": "AdMesh API",
    "description": "Get intelligent product recommendations with a simple API call",
    "version": "1.0.0",
    "contact": {
      "name": "AdMesh Support",
      "email": "mani@useadmesh.com"
    }
  },
  "servers": [
    {
      "url": "https://api.useadmesh.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/agent/recommend": {
      "post": {
        "summary": "Get Recommendations",
        "description": "Get intelligent product recommendations based on user queries",
        "operationId": "getRecommendations",
        "tags": ["Recommendations"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecommendationRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic recommendation request",
                  "value": {
                    "query": "best CRM for startups",
                    "format": "auto"
                  }
                },
                "advanced": {
                  "summary": "Advanced request with context",
                  "value": {
                    "query": "project management tools with time tracking",
                    "format": "auto",
                    "previous_query": "CRM software recommendations",
                    "previous_summary": "We discussed CRM solutions for small businesses",
                    "session_id": "user_session_123",
                    "is_fallback_allowed": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with recommendations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful recommendation response",
                    "value": {
                      "session_id": "sess_1760022990_w8RkKA",
                      "intent": {
                        "goal": "The user wants to find and evaluate leading ad networks for potential use.",
                        "purchase_intent": "research",
                        "intent_type": "product_discovery",
                        "categories": ["ad_networks", "digital_marketing", "advertising_platforms"],
                        "intent_group": "commercial",
                        "layout_type": "tail"
                      },
                      "response": {
                        "summary": "Here are ad_networks tools that match your goal: The user wants to find and evaluate leading ad networks for potential use.",
                        "tail_summary": "If you're looking for a top-notch ad network, consider [AdMesh](https://api.useadmesh.com/click/r/b1e5d17f-4f76-4669-800c-163398db0cc5?utm_product=0c9521fb-e60a-443d-84c7-14ce37b1063e&utm_redirect=https%3A%2F%2Fuseadmesh.com%2F&utm_rec=feca26b8-a468-461f-9d14-b8e8951588e1&utm_session=sess_1760022990_w8RkKA&utm_agent=w8RkKArkAad2KEfm3J7kwlvFDzb2&test=true). It's a trusted platform known for excellent earning potential and relevant to your marketing interests.",
                        "recommendations": [
                          {
                            "product_id": "0c9521fb-e60a-443d-84c7-14ce37b1063e",
                            "title": "AdMesh",
                            "recommendation_description": "Website not provided, assuming as a developer tool for building marketing and design interfaces.",
                            "admesh_link": "https://api.useadmesh.com/click/r/b1e5d17f-4f76-4669-800c-163398db0cc5?utm_product=0c9521fb-e60a-443d-84c7-14ce37b1063e&utm_redirect=https%3A%2F%2Fuseadmesh.com%2F&utm_rec=feca26b8-a468-461f-9d14-b8e8951588e1&utm_session=sess_1760022990_w8RkKA&utm_agent=w8RkKArkAad2KEfm3J7kwlvFDzb2&test=true",
                            "categories": ["Marketing", "Development Tools", "SaaS"],
                            "trust_score": 100.0,
                            "reward_note": "$10.00 per signup (Free Promo Credit - 5 max conversions)",
                            "meta": {
                              "ad_id": "b1e5d17f-4f76-4669-800c-163398db0cc5",
                              "offer_trust_score": 100.0,
                              "brand_trust_score": 100,
                              "contextual_relevance_score": 69.19,
                              "reason": "This offer matches your category interest and relevant to your query and trusted platform and excellent earning potential.",
                              "description": "Website not provided, assuming as a developer tool for building marketing and design interfaces.",
                              "keywords": ["useadmesh", "marketing", "design", "development", "saas", "web", "tool", "interface", "building", "admesh"],
                              "url": "https://useadmesh.com/",
                              "redirect_url": "https://useadmesh.com/"
                            }
                          }
                        ],
                        "followup_suggestions": [
                          {
                            "label": "What features does AdMesh offer?",
                            "query": "AdMesh key features and benefits"
                          },
                          {
                            "label": "AdMesh pricing plans",
                            "query": "AdMesh pricing and plans"
                          },
                          {
                            "label": "Best ad_networks tools like AdMesh",
                            "query": "Best ad_networks tools similar to AdMesh"
                          }
                        ],
                        "layout_type": "tail"
                      },
                      "tokens_used": 500,
                      "model_used": "openai/gpt-4o"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing_query": {
                    "summary": "Missing query parameter",
                    "value": {
                      "error": "Missing required parameter: query",
                      "code": "MISSING_PARAMETER",
                      "details": "The 'query' field is required in the request body"
                    }
                  },
                  "missing_agent_id": {
                    "summary": "Missing agent_id parameter",
                    "value": {
                      "error": "Missing required parameter: agent_id",
                      "code": "MISSING_PARAMETER",
                      "details": "The 'agent_id' field is required in the request body"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_token": {
                    "summary": "Invalid API key",
                    "value": {
                      "error": "Invalid API key",
                      "code": "UNAUTHORIZED",
                      "details": "Please check your API key and try again"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "rate_limit": {
                    "summary": "Rate limit exceeded",
                    "value": {
                      "error": "Rate limit exceeded",
                      "code": "RATE_LIMIT_EXCEEDED",
                      "details": "You have exceeded the rate limit. Please try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "server_error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": "Internal server error",
                      "code": "INTERNAL_ERROR",
                      "details": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Enter your AdMesh API key (format: admesh_prod_abc123xyz789)"
      }
    },
    "schemas": {
      "RecommendationRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": {
            "type": "string",
            "description": "User's search query or question",
            "example": "best CRM for startups",
            "minLength": 1,
            "maxLength": 500
          },
          "format": {
            "type": "string",
            "description": "Format type for the response",
            "enum": ["auto", "product", "sidebar", "floating", "expandable", "conversation"],
            "default": "auto",
            "example": "auto"
          },
          "previous_query": {
            "type": "string",
            "description": "Previous query in conversation for context",
            "example": "project management tools",
            "maxLength": 500
          },
          "previous_summary": {
            "type": "string",
            "description": "Summary of previous conversation",
            "example": "We discussed project management solutions",
            "maxLength": 1000
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier for tracking",
            "example": "user_session_123",
            "maxLength": 100
          },
          "is_fallback_allowed": {
            "type": "boolean",
            "description": "Whether to allow fallback recommendations when no relevant offers are found",
            "default": true
          }
        }
      },
      "RecommendationResponse": {
        "type": "object",
        "required": ["session_id", "intent", "response", "tokens_used", "model_used"],
        "properties": {
          "session_id": {
            "type": "string",
            "description": "Unique session identifier for this request"
          },
          "intent": {
            "type": "object",
            "description": "Detected intent information",
            "properties": {
              "goal": {
                "type": "string",
                "description": "The user's detected goal",
                "example": "The user wants to find and evaluate leading ad networks for potential use."
              },
              "purchase_intent": {
                "type": "string",
                "description": "Level of purchase intent detected",
                "enum": ["research", "comparison", "ready_to_buy", "informational"],
                "example": "research"
              },
              "intent_type": {
                "type": "string",
                "description": "Specific type of intent",
                "example": "product_discovery"
              },
              "categories": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Relevant categories for the query",
                "example": ["ad_networks", "digital_marketing", "advertising_platforms"]
              },
              "intent_group": {
                "type": "string",
                "description": "Category of intent",
                "enum": ["informational", "navigational", "commercial", "transactional"],
                "example": "commercial"
              },
              "layout_type": {
                "type": "string",
                "description": "Recommended layout for displaying results",
                "enum": ["auto", "grid", "list", "tail", "ecommerce"],
                "example": "tail"
              }
            }
          },
          "response": {
            "type": "object",
            "description": "The main response containing recommendations",
            "properties": {
              "summary": {
                "type": "string",
                "description": "Summary of the recommendations",
                "example": "Here are ad_networks tools that match your goal: The user wants to find and evaluate leading ad networks for potential use."
              },
              "tail_summary": {
                "type": "string",
                "description": "Tail-style summary with embedded links (when layout_type is 'tail')",
                "example": "If you're looking for a top-notch ad network, consider [AdMesh](https://api.useadmesh.com/click/r/...). It's a trusted platform known for excellent earning potential and relevant to your marketing interests."
              },
              "recommendations": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Recommendation"
                },
                "description": "Array of recommendation objects"
              },
              "followup_suggestions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "Display text for the suggestion",
                      "example": "What features does AdMesh offer?"
                    },
                    "query": {
                      "type": "string",
                      "description": "Query to send for this suggestion",
                      "example": "AdMesh key features and benefits"
                    }
                  }
                },
                "description": "Suggested follow-up queries"
              },
              "layout_type": {
                "type": "string",
                "description": "Recommended layout type for the response",
                "enum": ["auto", "grid", "list", "tail", "ecommerce"],
                "example": "tail"
              }
            }
          },
          "tokens_used": {
            "type": "integer",
            "description": "Number of tokens used in processing"
          },
          "model_used": {
            "type": "string",
            "description": "AI model used for processing",
            "example": "openai/gpt-4o"
          }
        }
      },
      "Recommendation": {
        "type": "object",
        "required": ["product_id", "title", "admesh_link"],
        "properties": {
          "product_id": {
            "type": "string",
            "description": "Unique product identifier",
            "example": "0c9521fb-e60a-443d-84c7-14ce37b1063e"
          },
          "title": {
            "type": "string",
            "description": "Product or service name",
            "example": "AdMesh"
          },
          "recommendation_description": {
            "type": "string",
            "description": "Description of the recommendation",
            "example": "Website not provided, assuming as a developer tool for building marketing and design interfaces."
          },
          "admesh_link": {
            "type": "string",
            "format": "uri",
            "description": "Tracking URL for the recommendation (use this for clicks)",
            "example": "https://api.useadmesh.com/click/r/b1e5d17f-4f76-4669-800c-163398db0cc5?utm_product=0c9521fb-e60a-443d-84c7-14ce37b1063e&utm_redirect=https%3A%2F%2Fuseadmesh.com%2F&utm_rec=feca26b8-a468-461f-9d14-b8e8951588e1&utm_session=sess_1760022990_w8RkKA&utm_agent=w8RkKArkAad2KEfm3J7kwlvFDzb2&test=true"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Product categories",
            "example": ["Marketing", "Development Tools", "SaaS"]
          },
          "trust_score": {
            "type": "number",
            "format": "float",
            "description": "Overall trust score for the recommendation",
            "minimum": 0,
            "maximum": 100,
            "example": 100.0
          },
          "reward_note": {
            "type": "string",
            "description": "Information about rewards or commissions",
            "example": "$10.00 per signup (Free Promo Credit - 5 max conversions)"
          },
          "meta": {
            "type": "object",
            "description": "Additional metadata about the recommendation",
            "properties": {
              "ad_id": {
                "type": "string",
                "description": "Advertisement identifier",
                "example": "b1e5d17f-4f76-4669-800c-163398db0cc5"
              },
              "offer_trust_score": {
                "type": "number",
                "format": "float",
                "description": "Trust score for the specific offer",
                "example": 100.0
              },
              "brand_trust_score": {
                "type": "number",
                "format": "float",
                "description": "Trust score for the brand",
                "example": 100
              },
              "contextual_relevance_score": {
                "type": "number",
                "format": "float",
                "description": "Contextual relevance score (0-100) indicating how well the product matches the user's intent and query context. Used for CPX calculation.",
                "minimum": 0,
                "maximum": 100,
                "example": 69.19
              },
              "reason": {
                "type": "string",
                "description": "Detailed reason for the recommendation",
                "example": "This offer matches your category interest and relevant to your query and trusted platform and excellent earning potential."
              },
              "description": {
                "type": "string",
                "description": "Product description",
                "example": "Website not provided, assuming as a developer tool for building marketing and design interfaces."
              },
              "keywords": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Keywords associated with the product",
                "example": ["useadmesh", "marketing", "design", "development", "saas", "web", "tool", "interface", "building", "admesh"]
              },
              "url": {
                "type": "string",
                "format": "uri",
                "description": "Original product URL",
                "example": "https://useadmesh.com/"
              },
              "redirect_url": {
                "type": "string",
                "format": "uri",
                "description": "Final redirect URL",
                "example": "https://useadmesh.com/"
              }
            }
          },
          "offer_trust_score": {
            "type": "number",
            "format": "float",
            "description": "Trust score for the specific offer (0-1)",
            "minimum": 0,
            "maximum": 1,
            "example": 0.88
          },
          "brand_trust_score": {
            "type": "number",
            "format": "float",
            "description": "Trust score for the brand (0-1)",
            "minimum": 0,
            "maximum": 1,
            "example": 0.95
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error", "code"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Missing required parameter: query"
          },
          "code": {
            "type": "string",
            "description": "Error code",
            "example": "MISSING_PARAMETER"
          },
          "details": {
            "type": "string",
            "description": "Additional error details",
            "example": "The 'query' field is required in the request body"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Recommendations",
      "description": "Get intelligent product recommendations"
    }
  ]
}
